.insert {
  margin-top: 181px;
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
  gap: 130px;
  align-items: center;
}
.insert h3 {
  font-size: 24px;
  line-height: 31px;
}
.insert form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.insert input {
  width: 100%;
  height: 80px;
  border: 1px solid #6e6e6e;
  background: #1e1e1e;
  color: var(--textGray);
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  padding: 20px 30px;
}
.insert input:focus {
  outline: 4px solid var(--secondary);
  outline-offset: 1px;
}
.insert textarea {
  width: 100%;
  height: 160px;
  border: 1px solid #6e6e6e;
  background: #1e1e1e;
  color: var(--textGray);
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  padding: 20px 30px;
}
.insert textarea:focus {
  outline: 4px solid var(--secondary);
  outline-offset: 1px;
}
.insert .arrayInput {
  display: flex;
  button {
    width: 200px;
  }
}
.insert .arrayList {
  margin-top: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
  li {
    overflow-wrap: break-word;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    border: 1px solid #6e6e6e;
    padding: 3px 15px;
  }
}
/* Logout */
.logout {
  width: 200px;
  position: absolute;
  top: 0;
  left: 100%;
  background: var(--highlight);
}
.logout:hover {
  background: #89716f;
}
/* attach */
.insert .attachLabel {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 80px;
  border: 1px solid #6e6e6e;
  background: #1e1e1e;
  color: var(--textGray);
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  cursor: pointer;
  div {
    background: var(--primary);
    line-height: 78px;
    text-align: center;
    padding: 0 20px;
  }
}
